<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Average Value</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <h1>Live Average Value</h1>
    <div id="average-amplitude"></div>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('average_amplitude', function(data) {
            $('#average-amplitude').text('Average Amplitude: ' + data);
        });
    </script>
</body>
</html>
